.DS_Store
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
Build/
Builds/
MemoryCaptures/
Recordings/

*.csproj
*.sln
.vs/
.idea/

# Local temp / Unity debug
.utmp/
*BurstDebugInformation_DoNotShip/

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
UserSettings/
*BurstDebugInformation_DoNotShip/

# Local builds
*.apk
*.aab
Build/
Builds/
